<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Ethereum 4 U</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button routerLink="/buy">Buy</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button routerLink="/lend">Lend</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button routerLink="/account">Account</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
